/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: Arial, sans-serif;
}

ul {
	list-style: none;
}


.container {
	max-width: 1600px;
	margin: auto;
	padding: 0 1rem;
	overflow: hidden;
}

/* Navbar */
#main-nav {
	display: flex;
	justify-content: space-between;
	background: #fff;
	color: #333;
}


#main-nav li {
	padding: 0.5rem;
	display: inline-block;
	margin-top: 0.75rem;
}

#main-nav li a {
	text-decoration: none;
	color: #333;
	font-size: 13px;
}

#sign-in {
	background-color: #4584ee;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	padding: 6px 12px;
}

/* Main */

img {
	width: 500px;
	height: 220px;
}

.main {

}

.main .img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
}

.input {
	grid-area: input;
}

.button {

}




/* Footer*/

footer {
	background: #f2f2f2;
	font-size: 13px;
}

footer .top {
	padding: 16px;
	border-bottom: solid #333 1px;
	text-align: left;
}

footer h4 {
	font-weight: normal;
}

footer li {
	display: inline-block;
	padding: 0.5rem;
	margin-top: 0.5rem;
}

footer li a {
	text-decoration: none;
	color: #333;
}









